.perfil {
    padding-top: 100px;
}

.perfil-titles {
    justify-content: center;
    color: white;
    margin-bottom: 40px;
    font-size: 50px;
}

.perfil-content {
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;

}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image {
    max-width: 150px; 
    height: auto;
}

.input{
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}


.deleteAccountDiv {
    display: flex;
    justify-content: center;
}

.centeredCardWrapper {
    width: 40%; 
    margin: 0 auto;
    padding-bottom: 10%; 
}

.customCard {
    margin-top: 10%; 
    padding: 20px;
}

.deleteButtonDiv {
    text-align: center;
}

.deleteButtonDiv p {
    margin-bottom: 1rem;
}

