#crear-reserva{
    color: white;
    font-size: 40px;
    justify-content: center;
} 

.reserva-titles{
    justify-content: center;
    color: white;
    margin-bottom: 40px;
    font-size: 20px;
}


.reserva{
    padding-top: 100px;
}

.selectores{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
}

.conjuntoAulas{
    margin-left: 150px;
    margin-right: 0px;
}

.calendario{
    margin-left: 150px;
    margin-right: 150px;
}

.customRadio{
    width: 300px;
    margin: 10px;
}

.slider{
   
    color: aliceblue;
    font-size: 100px;
    font-weight: 100px;
}

.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.cantidad-alumnos{
  margin-right: 30%;
  margin-left: 30%;
}

.horas-aforo{
    display: flex;
    justify-content: center;
    align-items: center;
}


.item1{
    margin-right: 50px;
}

.item2{
    margin-left: 50px;
}