#crear-reserva{
    color: white;
    font-size: 40px;
    justify-content: center;
} 

.reserva-titles{
    justify-content: center;
    color: white;
    margin-bottom: 5px;
    font-size: 20px;
}


.reserva{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}
.selectores{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
